<div id="extracurricular" class="sections">
    <div>
        <h3>Current</h3>
    </div>
    <div>
        <h3>Women in Computer Science</h3>
        <h4>Webmaster</h4>
        <p>
            <ul>
                <li>Update Website</li>
                <li>Organize events</li>
            </ul>
        </p>
    </div>
    <br />
    <div>
        <h3>Hackhers 2016</h3>
        <h4>Hackathon Webmaster Mentor</h4>
        <p>
            <ul>
                <li>
                    Created foundation of website and outline
                </li>
                <li>
                    Guided organizer mentee with contents of website 
                </li>
            </ul>
        </p>
        <h4>Hackathon Organizer</h4>
        <p>
            <ul>
                <li>
                    Communicated with other team leaders
                </li>
                <li>
                    Worked with graphic designer to create flyers, t-shirts, and stickers
                </li>
            </ul>
    </div>
    <br />
    <div>
        <h3>Douglass DIMACS Computing Corps</h3>
        <h4>Webmaster and Volunteer Teacher</h4>
        <p>
            
        </p>
    </div>
    <br />
    <div>
        <h3>Previous</h3>
    </div>
    <div>
        <h3>Hackhers 2015</h3>
        <h4>Hackathon Organizer</h4>
    </div>
</div>