<div id="projects" class="sections boxwrapper">
    <div class="box">
        <h3><a href="http://steam-wish.herokuapp.com/" target="_blank">Steam Wish</a></h3>
        <img src="/img/steamwishpic.PNG" style="height: 200px" />
        <p>
            Use my account: kuroiblood <br />
            <strong>About:</strong> The web app pulls the users wishlist and has a place for the user to sort through it based on title, sale
            price, and/or tag. First page lists the top 50 and has a bar graph of the games original price and sale price. Last page 
            is a small recommendation page. It gives a few recommended games based on the top 3 tags of the user. <br />
            I focused on working with the data.
        </p>
        <p><strong>Technology:</strong> MySQL databse, Amazon Web Services, Node.js, Express.js, D3.js, and Bootstrap</p>
        <p>I focused on the MySQL database. I pulled data for my teammates with queries. I also worked with D3.js to build a 
        bar graph to compare sale prices with the orgiginal prices.</p>
        <p>My team: Jasmine and Rosheen</p>
    </div>
    <p></p>
    <div class="box">
        <h3><a href="http://food-snap.herokuapp.com/" target="_blank">FoodSNAP</a></h3>
        <img src="/img/foodsnappic.PNG" style="height: 200px" />
        <p>
            <strong>Goal:</strong> Provide an application that allows food related groups, supermarkets or restaurants, to make event times for people
            that are part of SNAP. The application would also allow Non-profit organization volunteers to help during the distribution of
            food during the event.
        </p>
        <p><strong>Technology:</strong> The key pieces that builds this application is MySQL, Amazon Web Services, Node.js, Express.js, and Bootstrap</p>
        <p></p>I focused on back-end since my main skill set is databases and manipulating data. I designed the application and
        decided on the main functionalities.</p>
        <p>My team: c: Cheryl and Connie (I'll link their github soon)</p>
    </div>
    <p></p>
    <div class="box">
        <h3><a href="http://devpost.com/software/asl-kinect" target="_blank">American Sign Language (ASL) Kinect</a></h3>
		<img src="/img/ASLKinect.PNG" style="height: 200px" />
        <p>
            Attended PearlHacks 2016 and won "Best Use of Cisco Technology"
        </p>
        
    </div>
</div>




