<div id="workexp" class="sections">
    <div>
        <h3>UAA/SA Information Technology Services</h3>
        <p>Software Developer</p>
        <p>June 2014 – Present</p>
        <p>
            <ul>
                <li>
                    Develop responsive multi-page website with dynamic back-end using Microsoft Visual Studio 2013 and SQL Management Studio 2008 for multiple Rutgers departments
                </li>
                <li>
                    Create web forms using C# and ASP.NET web controls
                </li>
                <li>
                    Implement SQL scripts and queries for programs used across Rutgers departments
                </li>
                <li>
                    Revise static HTML5 and Drupal web-pages
                </li>
            </ul>
        </p>
        <h3>iconectiv</h3>
        <p>Software Developer</p>
        <p>May 2015 – Aug. 2015</p>
        <p>
            <ul>
                <li>
                   Implement Selenium and JUnit for automated testing of existing programs 
                </li>
                <li>
                   Developed automated testing programs with Java, Selenium webdriver, and JUnit for a web application put in production
                </li>
            </ul>
        </p>
        <h3>Rutgers Packaging Engineering Program</h3>
        <p>Office Assistant</p>
        <p>Sept. 2012 – Aug. 2014</p>
        <p>
            <ul>
                <li>
                   Built and helped maintained database using Microsoft Access Database management system
                </li>
                <li>
                   Led co-workers by teaching how to create, read, update, and delete from the database
                </li>
                <li>
                    Developed website using HTML and CSS: http://packaging.rutgers.edu/ 
                </li>
            </ul>
        </p>
    </div>
</div>



