.sections{
    background-color: #1d2025;
    color: #d0d9d8;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    
}

p {
    font-size: 15px !important;
}

#projects a,
#projects a:focus,
#projects a:active{
    outline: 0;
    text-decoration: none;
    color: #a0bad1;
    background-color: #1d2025;
}
#projects a:hover{
    color: #798c8a;
    background-color: #1d2025;
}

#header{
    
}

.box{
    float: left;
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 1%;
}
.boxwrapper{
    clear: both;
    overflow: auto;
}